*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
  max-width: 100%;
}

html{
  overflow-x: hidden;
  width: 100%;
  background: #0c0c0c;
}


.navbar{
  background-color: transparent;
  transition: 0.2s ease-in-out;
}

.navbar.colorChange{
  background-color: #0c0c0c;
  transition: 0.2s ease-in-out;
}

.preloader{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.css-eglki6-MuiLinearProgress-root{
  width: 50%;
  height: 30px;
  background-color: rgba(252, 140, 3, 0.3) !important;
}

.css-5ir5xx-MuiLinearProgress-bar1{
  background-color:rgba(252, 140, 3, 1) !important;
}

.css-1r8wrcl-MuiLinearProgress-bar2{
  background-color:rgba(252, 140, 3, 1) !important;
}

.css-fl5ss-MuiLinearProgress-root{
  background-color:rgba(252, 140, 3, 1) !important;
  width: 50%;
  height: 30px;
}

.css-qhoknl-MuiLinearProgress-bar1{
  background-color:rgba(252, 140, 3, 1) !important;
}

.css-1qdnzt4-MuiLinearProgress-bar2{
  background-color: rgba(252, 140, 3, 0.3) !important;
}

.css-5xe99f-MuiLinearProgress-bar1{
  background-color: rgba(252, 140, 3, 1) !important;
}

.css-7p5u54{
  background-color: rgba(252, 140, 3, 0.3) !important;
  width: 50%;
  height: 30px;
}
.css-t752vm{
  background-color: rgba(252, 140, 3, 1) !important;
}

@keyframes pulse{
  0%{ -webkit-transform: translate(0,0); transform: translate(0,0); }
  50%{ -webkit-transform: translate(0,10px); transform: translate(0,10px); }
  100%{ -webkit-transform: translate(0,0); transform: translate(0,0); }
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}